﻿@model IPublishedContent
@{
    var content = new AboutUs(Model);
}
<div id="vehicle-listings" class="section_default section_mod-e section-bg-2">
    <section class="section_mod-d" style="background: url(@(content.BackgroundImage?.Url())) no-repeat 100% 100%;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ui-title-block">@content.Header</h2>
                    <div class="ui-subtitle-block_mod-b">@content.Subheader</div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
            <div class="row" style="text-align: left;">
                @if (content.ListElements.Any())
                {

                    foreach (var link in content.ListElements)
                    {
                        <div class="col-md-6" style="font-size:15px">
                            <a class="link" style="font-size:16px" href="#">@link.Header</a>
                            <p>
                                @Html.Raw(link.Text)
                            </p>
                            @if (content.ListElements.IndexOf(link) < content.ListElements.Count())
                            {
                                <div class="decor-1"></div>
                            }
                        </div>

                    }
                }

                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end section_mod-d -->

</div>