﻿@model IPublishedContent
@{
    var content = new AboutUsDetails(Model);
}

<section id="aboutcompany" class="section_default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="ui-title-block">@content.Header</h2>
                <div class="ui-subtitle-block_mod-b" style="text-transform: inherit;">@content.Text</div>
                <div class="slider-grid">
                    <div class="slider-grid__item">
                        <div class="row">
                            @{
                                var first = content.Elements.FirstOrDefault();
                            }
                            <div class="col-md-5">
                                <div class="slider-grid__inner slider-grid__inner_mod-a">
                                    <img class="img-responsive" src="@(first.Icon !=null ? first.Icon.Url() : string.Empty)" height="392" width="470" alt="foto">
                                    <div class="slider-grid__wrap-name"> <span class="slider-grid__name">@first.Header</span></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    @{
                                        var seconds = content.Elements.Skip(1).Take(2);
                                    }
                                    @foreach (var el in seconds)
                                    {
                                        <div class="col-sm-6">
                                            <div class="slider-grid__inner slider-grid__inner_mod-b">
                                                <img class="img-responsive" src="@(el.Icon !=null ? el.Icon.Url() : string.Empty)" height="181" width="320" alt="foto"> <span class="slider-grid__name">@el.Header</span>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div class="row">
                                    @{
                                        var thirds = content.Elements.Skip(3).Take(2);
                                    }
                                    @foreach (var el in thirds)
                                    {
                                        <div class="col-sm-6">
                                            <div class="slider-grid__inner slider-grid__inner_mod-b">
                                                <img class="img-responsive" src="@(el.Icon !=null ? el.Icon.Url() : string.Empty)" height="181" width="320" alt="foto"> <span class="slider-grid__name">@el.Header</span>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider-services -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>