﻿@model IPublishedContent
@{
    var content = new Carousel(Model);
}

<div id="car-details" class="wrap-section-border">
    <section class="section-bg section-bg_primary">
        <div class="bg-inner border-section-top border-section-top_mod-a">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="ui-title-block ui-title-block_mod-a text-center">@content.Header</h2>
                        <div class="ui-subtitle-block_mod-a">@Html.Raw(content.Subheader)</div>
                        <div class="slider-services owl-carousel owl-theme owl-theme_mod-a enable-owl-carousel"
                             data-min480="2"
                             data-min768="3"
                             data-min992="4"
                             data-min1200="4"
                             data-pagination="true"
                             data-navigation="false"
                             data-stop-on-hover="true">
                            @if (content.Process != null)
                            {
                                foreach (var car in content.Process.Take(4))
                                {
                                    <div class="list-services">
                                        <img style="max-width: 100px;" src="@(car.Icon == null ? string.Empty : car.Icon.Url())" class="icon" />
                                        <div class="decor-1"></div>
                                        <div class="list-services__inner">
                                            <h3 class="list-services__title">@car.Header</h3>
                                            <div class="list-services__description">@car.Text</div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="slider-services owl-carousel owl-theme owl-theme_mod-a enable-owl-carousel"
                             data-min480="2"
                             data-min768="3"
                             data-min992="4"
                             data-min1200="4"
                             data-pagination="true"
                             data-navigation="false"
                             data-stop-on-hover="true">
                            @if (content.Process != null)
                            {
                                foreach (var car in content.Process.Skip(4))
                                {
                                    <div class="list-services">
                                        <img style="max-width: 100px;" src="@(car.Icon == null ? string.Empty : car.Icon.Url())" class="icon" />
                                        <div class="decor-1"></div>
                                        <div class="list-services__inner">
                                            <h3 class="list-services__title">@car.Header</h3>
                                            <div class="list-services__description">@car.Text</div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <!-- end slider-services -->
                    </div>
                    <!-- end col -->
                </div>
            </div>
            <!-- end container -->
        </div>
        <!-- end bg-inner -->
    </section>
    <!-- end section_mod-b -->
</div>
