﻿@model IPublishedContent
@{
    var content = new CatalogAvto(Model);
}

<section id="catalog" class="catalog_auto>
    <div class="container catalog_auto_content">
        <div class="row network_name" style="margin-bottom: 30px; display: flex; justify-content: space-around">
            <h1 class="ui-title-block text-center">@content.Header<span class="second_word">Авто</span></h1>
        </div>
        <div class="row social_row">
            @foreach (var el in content.Links)
            {
                <div class="col-md-4">
                    <div class="messangers_block">
                        <img style="width:100%;margin-bottom: -25%;" src="http://trustshipping.com.ua/@el.Image.Url()" />
                        <a target="_blank" 
                           href="@el.Link" 
                           style="height: 60px;font-size: 20px;" 
                           class="pressed-button  network-button@(content.Links.IndexOf(el) +1) button-blick">
                            @el.Header
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="row" style="text-align: center; margin-top: 50px;">
            <p class="ui-subtitle-block_mod-b">@Html.Raw(content.Text)</p>
        </div>
    </div>
</section>