﻿@model IPublishedContent
@{
    var content = new ContactUs(Model);
}
<section id="news-details" class="section_map section-bg-2">

    <div class="row">
        <div class="col-md-6 our_contacts" style="text-align: center;">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="ui-title-block">@content.Header<span class="second_word">Контакты</span></h2>
                </div>
                <!-- end col -->
            </div>
            <div class="row">
                <div style="text-align: center;" class="col-xs-12">

                    <h2 class="ui-title-inner" style=" max-width: 160px; margin: auto;">
                        @Html.Raw(content.Address) <span>@content.Telephone</span> <span>@content.Telephone2</span>
                    </h2>
                    <ul class="social-links list-inline" style=" margin-bottom: 20px; margin-top: 20px;">
                        @foreach (var network in content.SocialNetworks)
                        {
                            <li><a href="@network.Link"><img style=" max-width: 30px;" src="@(network.BlackIcon==null ? string.Empty : network.BlackIcon.Url())"></a></li>
                        }
                    </ul>
                </div>
                <!-- end col -->
            </div>
            <h2 class="ui-title-inner" style=" max-width: 300px; margin: auto;">
                @Html.Raw(content.SecondDescription)
            </h2>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <form class="form-contact">
                        <div class="row">
                            <input name="Name" id="contact-us-name" style="max-width:250px;margin:auto; margin-bottom:10px;background-color:#dcdcdc" class="form-control" type="text" placeholder="Имя" required>
                        </div>
                        <!-- end row -->
                        <div class="row">
                            <input name="Number" id="contact-us-number" style="max-width:250px;margin:auto; margin-bottom:10px;background-color:#dcdcdc" class="form-control" type="text" placeholder="Номер телефона" required>
                            <!-- end col -->
                        </div>
                        <div class="row">
                            <input name="Auto" id="contact-us-auto" style="max-width:250px;margin:auto; margin-bottom:10px;background-color:#dcdcdc" class="form-control" type="text" placeholder="Комментарий" required>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="btn">
                                    <div class="wrap__btn-skew-r">
                                        <button class="btn-skew-r btn-effect" id="contact-us-form-button" type="submit"><span class="btn-skew-r__inner">Отправить заявку</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </form>
                </div>
            </div>

        </div>
        <div class="google_reviews">
            <div class="img_company">
                <img src="~/assets/media/reviews/map.jpg" alt="TrustShippingCompany" />
            </div>
            <div class="ui-subtitle-block_mod-b" style="font-size: 18px;">@content.Description</div>
            <div class="headers">
                <div class="first_header">
                    <div class="adress">
                        <h1>Trust Shipping</h1>
                    </div>
                    <a href="https://www.google.com/search?q=trust+shipping+%D1%85%D0%B0%D1%80%D1%8C%D0%BA%D0%BE%D0%B2&ei=bhR3YNiDI9PergTe5Ip4&oq=trust+shipping+%D1%85&gs_lcp=Cgdnd3Mtd2l6EAMYADIGCAAQFhAeMgIIJjoHCAAQRxCwAzoICAAQkQIQiwM6BQgAEIsDOgIIADoJCAAQFhAeEIsDUIcaWOklYOcsaAJwAngAgAF6iAGNA5IBAzMuMZgBAKABAaoBB2d3cy13aXrIAQi4AQLAAQE&sclient=gws-wiz#lrd=0x4127a138e9a9f3a1:0x3f157722820a6970,3,,," class="review_btn"><img src="~/assets/media/reviews/write_review.png" width="15px" height="12px" alt="pen_icon" />Написать отзыв</a>
                </div>
                <div class="second_header">
                    <div class="rate">
                        <div class="stars">
                            <div class="stars_rate">
                            </div>
                            <div class="star">
                            </div>
                            <div class="about_reviews">
                            </div>
                        </div>
                    </div>
                    <div class="sort_reviews">
                        @*<p>Сортировать по релевантности</p>*@
                    </div>
                </div>
                <hr />
                <div class="scroll_block">
                    <div class="content_review" data-id="template" style="display:none">
                        <div class="google_review">
                            <img class="review_author" src="~/assets/media/reviews/author.jpg" alt="Author" />
                            <div>
                                <p class="name_author"></p>
                                @*<div class="data_review">
                                <p class="data_author">3 отзыва</p>
                                <p class="data_photo">1 фото</p>
                            </div>*@
                                <div class="star_time">
                                </div>
                                <p class="content_author"></p>
                                <a class="like_author" href="#"><img src="~/assets/media/reviews/like.png" class="like" alt="like" /><span>Нравится</span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end container -->
</section>