﻿@model IPublishedContent
@{
    var content = new HeroComponent(Model);
    var carouselImages = content.Carousel;
}

<link href="~/assets/plugins/slick/slick.css" rel="stylesheet" />
<link href="~/assets/plugins/slick/slick-theme.css" rel="stylesheet" />
<link href="~/assets/css/homeCoponentSlickSlider.css" rel="stylesheet" />


<div id="sliderpro1" class="slider-pro main-slider custom-margin">


    <div class="sp-slides">

        <div class="sp-slide" style="background: no-repeat url('@(content.BackgroundImage == null ? string.Empty : content.BackgroundImage.Url())');width:100%;background-color: #4fb0fd; background-size:cover; height:800px">


            <div class="item-wrap sp-layer  sp-padding @((carouselImages?.Any()).GetValueOrDefault() && carouselImages.Count() == 1 ? "custom-width" : string.Empty)" style="margin:auto"
                 data-show-transition="left" data-hide-transition="up" data-show-delay="400" data-hide-delay="200">
                <div class="main-slider__inner text-left">
                    <div class="custom-caption header-caption">
                        <div class="main-slider__title">@Html.Raw(content.Header)</div>
                        <div class="main-slider__subtitle">@Html.Raw(content.Text)</div>
                        <label class="get-price">
                            <a class="main-slider__btn btn-effect pop-up-button" style="width:250px">
                                <span class="main-slider__btn_inner">Заказать звонок</span>
                            </a>
                        </label>
                    </div>
                </div>
            </div>
            @if ((carouselImages?.Any()).GetValueOrDefault() && carouselImages.Count() == 1)
            {
                <div style=" margin: auto;">
                    <div>
                        <img style=" width: 100%; max-height: 668px; border-radius: 5%; object-fit: cover;" src="@(carouselImages.FirstOrDefault() != null ?$"http://trustshipping.com.ua/{carouselImages.FirstOrDefault().Url()}" : string.Empty)" alt="Picture" />
                    </div>
                </div>
            }
            else
            {
                <div class="home-carousel">
                    @foreach (var item in carouselImages)
                    {
                        <div>
                            <img src="@(item != null ?$"{item.Url()}" : string.Empty)" alt="Picture" />
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>