﻿@model IPublishedContent
@{
    var content = new ListBlocks(Model);
}

<div id="news-grid" class="wrap-section-border">
    <section class="section_mod-e section-bg section-bg_second">
        <div class="bg-inner border-section-top border-section-top_mod-b">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="ui-title-block ui-title-block_mod-a text-center">@content.Header</h2>
                        <div class="ui-subtitle-block_mod-a">@content.Subheader</div>
                        <ul class="list-type">
                            @foreach (var el in content.Elements)
                            {
                                <li class="list-type__item">
                                    <a class="list-type__link" href="javascript:void(0);">
                                        <div class="list-type__inner">
                                            <img style=" max-width: 250px; margin: auto; padding-top: 30px; }" src="@(el.Icon == null ? string.Empty : el.Icon.Url())" class="icon" />
                                            <div class="decor-1 center-block"></div>
                                            <div class="list-type__name" style="color: #fff !important; text-decoration: none!important;">@el.Header</div>
                                            <div class="list-type__info" style="color: #fff !important; text-decoration: none!important;">@el.Text</div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <!-- end col -->
                </div>
            </div>
            <!-- end container -->
        </div>
        <!-- end bg-inner -->
    </section>
    <!-- end section_mod-b -->
</div>
<div class="wrap-section-border" style="padding-top:0px!important">
    <section class="section_mod-c section-bg section-bg_second" style="background-color: #f5f5f5; height:100px">
        <div class="bg-inner border-section-top border-section-top_mod-b">
            
            <!-- end container -->
        </div>
        <!-- end bg-inner -->
    </section>
    <!-- end section_mod-b -->
</div>