﻿@model IPublishedContent
@{
    var content = new RealFacts(Model);
}
<style>
    .section_mod-c:after {
        background-image: url(@(content.BackgroundImage == null ? string.Empty : content.BackgroundImage.Url()))
    }
</style>
<div class="wrap-section-border" style="padding-top:0px!important">
    <section class="section_mod-c section-bg section-bg_second" style="background-color: #181818;">
        <div class="bg-inner border-section-top border-section-top_mod-b">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="ui-title-block ui-title-block_mod-a text-center">@content.Header</h2>
                        <div class="ui-subtitle-block_mod-a">@content.Subheader</div>
                        <script src="assets/plugins/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
                        <ul class="list-progress list-unstyled">
                            @foreach (var el in content.Elements)
                            {
                                <li class="list-progress__item">
                                    <img style="max-width:53px" src="@(el.Icon == null ? string.Empty : el.Icon.Url())" />
                                    <div class="list-progress__inner"> <span class="chart" data-percent="@el.Header"><span class="percent"></span>+</span> <span class="list-progress__name">@el.Text</span> </div>
                                </li>
                            }
                        </ul>
                        <!-- end list-progress -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
                <div class="border-section-bottom"></div>
            </div>
            <!-- end container -->
        </div>
        <!-- end bg-inner -->
    </section>
    <!-- end section_mod-b -->
</div>