<div class="purchase_procedure" id="procedure">
    <div class="block_video">
        <div class="block_video_stages">
            <video class="video_stages" src="~/assets/media/stages/video_TrustShipping.mp4" loop muted autoplay></video>
        </div>
        <div class="video_heading">
            <div class="video_content">
                <h1 сlass="video__name">ПРОЦЕДУРА ПОКУПКИ:</h1>
            </div>
            <div class="regular slider">
                <div class="stage_slider">
                        <img class="img_stages" src="~/assets/media/stages/01.png" alt="">
                    <div class="stage_title_slider">
                        <h3>1. Подбор авто</h3>
                    </div>
                    <div class="stage_backface">
                        <div class="firstPart_stage_backface">
                            <img class="img_backface" src="~/assets/media/stages/1.png" alt="">
                            <h3 class="stage_name_slider">Подбор авто</h3>
                        </div>
                        <hr class="stage_decor">
                        <div class="stage_description_slider">Подбор авто на страховых аукционах нашими специалистами по Вашим критериям</div>
                    </div>
                </div>
                <div class="stage_slider">
                    <img class="img_stages" src="~/assets/media/stages/02.png" alt="">
                    <div class="stage_title_slider">
                        <h3>2. Выкуп на аукционе</h3>
                    </div>
                    <div class="stage_backface">
                        <div class="firstPart_stage_backface">
                            <img class="img_backface" src="~/assets/media/stages/2.png" alt="">
                            <h3 class="stage_name_slider">Выкуп на аукционе</h3>
                        </div>
                        <hr class="stage_decor">
                        <div class="stage_description_slider">После полной проверки и согласования бюджета по автомобилю переходим с Вами к онлайн торгам</div>
                    </div>
                </div>
                <div class="stage_slider">
                    <img class="img_stages" src="~/assets/media/stages/03.png" alt="">
                    <div class="stage_title_slider">
                        <h3>3. Доставка по США</h3>
                    </div>
                    <div class="stage_backface">
                        <div class="firstPart_stage_backface">
                            <img class="img_backface" src="~/assets/media/stages/3.png" alt="">
                            <h3 class="stage_name_slider">Доставка по США</h3>
                        </div>
                        <hr class="stage_decor">
                        <div class="stage_description_slider">Ваш авто доставляется в порт США, где его встречает наш экседитор, тщательно осматривает, делает фотоотчет, пломбирует и готовит авто к отправке</div>
                    </div>
                </div>
                <div class="stage_slider">
                    <img class="img_stages" src="~/assets/media/stages/04.png" alt="">
                    <div class="stage_title_slider">
                        <h3>4. Доставка по морю</h3>
                    </div>
                    <div class="stage_backface">
                        <div class="firstPart_stage_backface">
                            <img class="img_backface" src="~/assets/media/stages/4.png" alt="">
                            <h3 class="stage_name_slider">Доставка по морю</h3>
                        </div>
                        <hr class="stage_decor">
                        <div class="stage_description_slider">Авто загружается в контейнер и направляется в порт назначения. Вы получаете онлайн треккер</div>
                    </div>
                </div>
                <div class="stage_slider">
                    <img class="img_stages" src="~/assets/media/stages/05.png" alt="">
                    <div class="stage_title_slider">
                        <h3>5. Растаможка</h3>
                    </div>
                    <div class="stage_backface">
                        <div class="firstPart_stage_backface">
                            <img class="img_backface" src="~/assets/media/stages/5.png" alt="">
                            <h3 class="stage_name_slider">Растаможка</h3>
                        </div>
                        <hr class="stage_decor">

                        <div class="stage_description_slider">По прибытию в порт происходит выгрузка авто, фотоотчет, пломбировка, таможенная очистка и адресная доставка</div>
                    </div>
                </div>
                <div class="stage_slider">
                    <img class="img_stages" src="~/assets/media/stages/06.png" alt="">
                    <div class="stage_title_slider">
                        <h3>6. Ремонт</h3>
                    </div>
                    <div class="stage_backface">
                        <div class="firstPart_stage_backface">
                            <img class="img_backface" src="~/assets/media/stages/6.png" alt="">
                            <h3 class="stage_name_slider">Ремонт</h3>
                        </div>
                        <hr class="stage_decor">
                        <div class="stage_description_slider">Авто отправляется на сертифицированное СТО для дефектовки и ремонта</div>
                    </div>
                </div>
                <div class="stage_slider">
                    <img class="img_stages" src="~/assets/media/stages/07.png" alt="">
                    <div class="stage_title_slider">
                        <h3>7. Сертификация</h3>
                    </div>
                    <div class="stage_backface">
                        <div class="firstPart_stage_backface">
                            <img class="img_backface" src="~/assets/media/stages/7.png" alt="">
                            <h3 class="stage_name_slider">Сертификация</h3>
                        </div>
                        <hr class="stage_decor">
                        <div class="stage_description_slider">Перед оформлением авто получает сертификат соответствия украинским стандартам</div>
                    </div>
                </div>
                <div class="stage_slider">
                    <img class="img_stages" src="~/assets/media/stages/08.png" alt="">
                    <div class="stage_title_slider">
                        <h3>8. Постановка на учет</h3>
                    </div>
                    <div class="stage_backface">
                        <div class="firstPart_stage_backface">
                            <img class="img_backface" src="~/assets/media/stages/8.png" alt="">
                            <h3 class="stage_name_slider">Постановка на учет</h3>
                        </div>
                        <hr class="stage_decor">
                        <div class="stage_description_slider">Регистрация и получение тех.паспорта автомобиля в сервисном центре МВД (МРЭО)</div>
                    </div>
                </div>
            </div>
            <div class="stages">
                <div class="first_stages">
                    <div class="stage stage_1">
                        <img class="img_stages" src="~/assets/media/stages/01.png" alt="">
                        <div class="stage_title">
                            <h3>1. Подбор авто</h3>
                        </div>
                        <div class="stage_backface">
                            <div class="firstPart_stage_backface">
                                <img class="img_backface" src="~/assets/media/stages/1.png" alt="">
                                <h3 class="stage_name">Подбор авто</h3>
                            </div>
                            <hr class="stage_decor">
                            <div class="stage_description">Подбор авто на страховых аукционах нашими специалистами по Вашим критериям</div>
                        </div>
                    </div>
                    <div class="arrow">
                        <img src="~/assets/media/stages/arrow_white.png" class="img_arrow" alt="arrow" />
                    </div>
                    <div class="stage stage_2">
                        <img class="img_stages" src="~/assets/media/stages/02.png" alt="">
                        <div class="stage_title">

                            <h3>2. Выкуп на аукционе</h3>
                        </div>
                        <div class="stage_backface">
                            <div class="firstPart_stage_backface">
                                <img class="img_backface" src="~/assets/media/stages/2.png" alt="">
                                <h3 class="stage_name">Выкуп на аукционе</h3>
                            </div>
                            <hr class="stage_decor">
                            <div class="stage_description">После полной проверки и согласования бюджета по автомобилю переходим с Вами к онлайн торгам</div>
                        </div>
                    </div>
                    <div class="arrow">
                        <img src="~/assets/media/stages/arrow_white22.png" class="img_arrow2" alt="arrow" />
                    </div>
                    <div class="stage stage_3">
                        <img class="img_stages" src="~/assets/media/stages/03.png" alt="">
                        <div class="stage_title">
                            <h3>3. Доставка по США</h3>
                        </div>
                        <div class="stage_backface">
                            <div class="firstPart_stage_backface">
                                <img class="img_backface" src="~/assets/media/stages/3.png" alt="">
                                <h3 class="stage_name">Доставка по США</h3>
                            </div>
                            <hr class="stage_decor">
                            <div class="stage_description">Ваш авто доставляется в порт США, где его встречает наш экседитор, тщательно осматривает, делает фотоотчет, пломбирует и готовит авто к отправке</div>
                        </div>
                    </div>
                    <div class="arrow">
                        <img src="~/assets/media/stages/arrow_white.png" class="img_arrow" alt="arrow" />
                    </div>
                    <div class="stage stage_4">
                        <img class="img_stages" src="~/assets/media/stages/04.png" alt="">
                        <div class="stage_title">
                            <h3>4. Доставка по морю</h3>
                        </div>
                        <div class="stage_backface">
                            <div class="firstPart_stage_backface">
                                <img class="img_backface" src="~/assets/media/stages/4.png" alt="">
                                <h3 class="stage_name">Доставка по морю</h3>
                            </div>
                            <hr class="stage_decor">
                            <div class="stage_description">Авто загружается в контейнер и направляется в порт назначения. Вы получаете онлайн треккер</div>
                        </div>
                    </div>
                </div>
                <div class="second_stages">
                    <div class="stage stage_5">
                        <img class="img_stages" src="~/assets/media/stages/05.png" alt="">
                        <div class="stage_title">
                            <h3>5. Растаможка</h3>
                        </div>
                        <div class="stage_backface">
                            <div class="firstPart_stage_backface">
                                <img class="img_backface" src="~/assets/media/stages/5.png" alt="">
                                <h3 class="stage_name">Растаможка</h3>
                            </div>
                            <hr class="stage_decor">
                            <div class="stage_description">По прибытию в порт происходит выгрузка авто, фотоотчет, пломбировка, таможенная очистка и адресная доставка</div>
                        </div>
                    </div>
                    <div class="arrow">
                        <img src="~/assets/media/stages/arrow_white22.png" class="img_arrow2" alt="arrow" />
                    </div>
                    <div class="stage stage_6">
                        <img class="img_stages" src="~/assets/media/stages/06.png" alt="">
                        <div class="stage_title">
                            <h3>6. Ремонт</h3>
                        </div>
                        <div class="stage_backface">
                            <div class="firstPart_stage_backface">
                                <img class="img_backface" src="~/assets/media/stages/6.png" alt="">
                                <h3 class="stage_name">Ремонт</h3>
                            </div>
                            <hr class="stage_decor">
                            <div class="stage_description">Авто отправляется на сертифицированное СТО для дефектовки и ремонта</div>
                        </div>
                    </div>
                    <div class="arrow">
                        <img src="~/assets/media/stages/arrow_white.png" class="img_arrow" alt="arrow" />
                    </div>
                    <div class="stage stage_7">
                        <img class="img_stages" src="~/assets/media/stages/07.png" alt="">
                        <div class="stage_title">
                            <h3>7. Сертификация</h3>
                        </div>
                        <div class="stage_backface">
                            <div class="firstPart_stage_backface">
                                <img class="img_backface" src="~/assets/media/stages/7.png" alt="">
                                <h3 class="stage_name">Сертификация</h3>
                            </div>
                            <hr class="stage_decor">
                            <div class="stage_description">Перед оформлением авто получает сертификат соответствия украинским стандартам</div>
                        </div>
                    </div>
                    <div class="arrow">
                        <img src="~/assets/media/stages/arrow_white22.png" class="img_arrow2" alt="arrow" />
                    </div>
                    <div class="stage stage_8">
                        <img class="img_stages" src="~/assets/media/stages/08.png" alt="">
                        <div class="stage_title">
                            <h3>8. Постановка на учет</h3>
                        </div>
                        <div class="stage_backface">
                            <div class="firstPart_stage_backface">
                                <img class="img_backface" src="~/assets/media/stages/8.png" alt="">
                                <h3 class="stage_name">Постановка на учет</h3>
                            </div>
                            <hr class="stage_decor">
                            <div class="stage_description">Регистрация и получение тех.паспорта автомобиля в сервисном центре МВД (МРЭО)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="~/assets/plugins/slick2/slick.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(".regular").slick({
        dots: true,
        infinite: true,
        arrows: false,
        slidesToShow: 1,
        slidesToScroll: 1
    });
</script>