﻿@model IPublishedContent
@{
    var content = new Video(Model);
}

<style>
    .left-link-item {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 16px;
        box-shadow: 4px 0 0 0 #4fb0fd;
    }

    .right-link-item {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 16px;
        box-shadow: -4px 0 0 0 #4fb0fd;
    }
</style>
<section style="position: relative;" id="advantages">
    <div>
        <video class="video_advantages" id="video" src="~/assets/media/stages/video_TrustShipping.mp4?rel=0&showinfo=0" loop controls></video>
    </div>
    <div class="container-fluid advantages" >
        <label class="get-price_mobile">
            <a class="main-slider__btn btn-effect pop-up-button" style="width:250px">
                <span class="main-slider__btn_inner">Связаться</span>
            </a>
        </label>
        <div class="row title_contact" style="margin-bottom: 30px;">
        </div>
        <div class="content_advantages content_advantages_co">
            <div class="advantages_left">
                <ul class="list_item_advantages">
                    <li>ЛИЧНУЮ КОМАНДУ СПЕЦИАЛИСТОВ<p class="list_item_content">Вместе с личным менеджером Вы так же получаете команду специалистов, а именно: менеджер по подбору авто, старший менеджер, менеджер технического отдела и логист</p></li>
                    <li>ОСМОТР АВТО ИНСПЕКТОРОМ<p class="list_item_content">У нас есть возможность полностью осмотреть Ваш автомобиль вживую перед торгами, проверить моторную часть, ходовую, состояние салона, электронику, ЛКП, наличие скрытых дефектов и составить по нему детальный отчет</p></li>
                    <li>ДЕТАЛЬНУЮ ИНФОРМАЦИЮ ОБ АВТОМОБИЛЕ<p class="list_item_content">Ваш авто проходит 7 этапов проверки: экспортируемость документов, тип владения, перечень владельцев, актуальность пробега, колличество ДТП, качество обслуживания, комплектацию</p></li>
                    <li>БЫСТРУЮ И НАДЕЖНУЮ ДОСТАВКУ<p class="list_item_content">Ваш автомобиль доставляется лучшими морскими линиями Zim, Maersk, MSC в оговоренные сроки с возможностью отследить авто в режиме онлайн 24/7, при этом на всех этапах доставки Вас сопровождает персональный логист</p></li>
                </ul>
            </div>
            <div class="advantages_right">
                <ul class="list_item_advantages">
                    <li>ФОТООТЧЕТ<p class="list_item_content">Мы предоставляем Вам детальный фотоотчет на всех этапах перемещения автомобиля: при заборе с аукциона, доставке в порт США, разгрузке в порту Украины</p></li>
                    <li>СОБСТВЕННЫЕ СТО<p class="list_item_content">Мы полностью контролируем ремонт авто наших клиентов, без посредников и "сто партнеров", от момента осмотра и дефектовки до ремонта, химчистки и замены расходников</p></li>
                    <li>РАСЧЕТ СТОИМОСТИ РЕМОНТА<p class="list_item_content">Специалисты технического отдела перед торгами проводят полную визуальную дефектовку автомобиля и рассчитывают предварительную стоимость ремонта с запасом</p></li>
                    <li>ПОДБОР ЗАПЧАСТЕЙ<p class="list_item_content">Наш менеджера из технического отдела полоностью занимается подбором, доставкой и установкой оригинальных и аналоговых запчастей на Ваш автомобиль по самым выгодным предложениям на рынке</p></li>
                </ul>
            </div>
        </div>
        <div class="content_advantages content_advantages_mobile">
            <div class="advantages_left">
                <ul class="list_item_advantages">
                    <li class="item-list">ЛИЧНУЮ КОМАНДУ СПЕЦИАЛИСТОВ<p class="list_item_content">Вместе с личным менеджером Вы так же получаете команду специалистов, а именно: менеджер по подбору авто, старший менеджер, менеджер технического отдела и логист</p></li>
                    <li class="item-list">ОСМОТР АВТО ИНСПЕКТОРОМ<p class="list_item_content">У нас есть возможность полностью осмотреть Ваш автомобиль вживую перед торгами, проверить моторную часть, ходовую, состояние салона, электронику, ЛКП, наличие скрытых дефектов и составить по нему детальный отчет</p></li>
                    <li class="item-list">ДЕТАЛЬНУЮ ИНФОРМАЦИЮ ОБ АВТОМОБИЛЕ<p class="list_item_content">Ваш авто проходит 7 этапов проверки: экспортируемость документов, тип владения, перечень владельцев, актуальность пробега, колличество ДТП, качество обслуживания, комплектацию</p></li>
                    <li class="item-list">БЫСТРУЮ И НАДЕЖНУЮ ДОСТАВКУ<p class="list_item_content">Ваш автомобиль доставляется лучшими морскими линиями Zim, Maersk, MSC в оговоренные сроки с возможностью отследить авто в режиме онлайн 24/7, при этом на всех этапах доставки Вас сопровождает персональный логист</p></li>
                </ul>
            </div>
            <div class="advantages_right">
                <ul class="list_item_advantages">
                    <li class="item-list">ФОТООТЧЕТ<p class="list_item_content">Мы предоставляем Вам детальный фотоотчет на всех этапах перемещения автомобиля: при заборе с аукциона, доставке в порт США, разгрузке в порту Украины</p></li>
                    <li class="item-list">СОБСТВЕННЫЕ СТО<p class="list_item_content">Мы полностью контролируем ремонт авто наших клиентов, без посредников и "сто партнеров", от момента осмотра и дефектовки до ремонта, химчистки и замены расходников</p></li>
                    <li class="item-list">РАСЧЕТ СТОИМОСТИ РЕМОНТА<p class="list_item_content">Специалисты технического отдела перед торгами проводят полную визуальную дефектовку автомобиля и рассчитывают предварительную стоимость ремонта с запасом</p></li>
                    <li class="item-list">ПОДБОР ЗАПЧАСТЕЙ<p class="list_item_content">Наш менеджера из технического отдела полоностью занимается подбором, доставкой и установкой оригинальных и аналоговых запчастей на Ваш автомобиль по самым выгодным предложениям на рынке</p></li>
                </ul>
            </div>
        </div>
        <label class="get-price">
            <a class="main-slider__btn btn-effect pop-up-button" style="width:250px">
                <span class="main-slider__btn_inner">Связаться</span>
            </a>
        </label>
    </div>
</section>


<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="~/assets/plugins/slick2/slick.js" type="text/javascript" charset="utf-8"></script>
<script>
    $('.item-list').on('click', function () {
        $(this).children('.list_item_content').toggle()
    })
</script>