body {
    background-color: #FFFFFF;
}
.advantages {
    position: relative;
}
.content_advantages{
    display: flex;
    justify-content: space-between;
    margin-top: 12%;
    opacity: 0;
}


.content_advantages_mobile{
    display: none !important;
}
.advantages_right {
    width: 40%;
    margin-right: 2%; 
}
.advantages_left {
    width: 40%;
    margin-left: 2%;
}
.list_item_advantages > li {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    list-style-type: none;
    margin-top: 25px;
    box-shadow: -4px 0 0 0 #1b4278;
    padding: 5px;
    transition: all 1.2s;
    margin-bottom: 14%;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
.list_item_advantages {
    padding-inline-start: 0;
}
.advantages_right > ul > li {
    text-align: right;
    box-shadow: 4px 0 0 0 #1b4278;
    transition: all 1.2s;
}


.list_item_content {
    display: none;
    margin-top: 5%;
}


.video_advantages {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: absolute;
}

.btn_contact_mobile {
    display: none;
}

.advantages .get-price {
    display: flex;
    justify-content: center;
}
.advantages .get-price_mobile {
    display: none;
}

@media screen and (max-width: 1200px) {
    .content_advantages {
        margin-bottom: 3%;
        margin-top: 3%;
        opacity: 1;
    }
    .video_advantages {
        position: relative;
    }
    .btn_contact_mobile {
        display: block;
    }
    .title_contact {
        display: none;
    }
    .btn_contact_mobile> a {
        width: 250px !important;
    }
    .advantages .get-price {
        display: none;
    }
    .advantages .get-price_mobile {
        display: flex;
        justify-content: center;
        margin-top: 1%;
    }
    .advantages {
        margin-bottom: 3%;
    }
    .list_item_advantages > li {
        font-size: 18px;
        font-weight: 700;
        color: #000;
        list-style-type: none;
        margin-top: 25px;
        box-shadow: -4px 0 0 0 #1b4278;
        padding: 5px;
        transition: all 1.2s;
        margin-bottom: 14%;
        text-shadow: 0px 0px 2px rgba(27,66,120,0.5);
    }
}


.content_advantages_mobile> .slick-dots{
    text-align: center !important;
    margin-left: 0 !important;
}

.content_advantages_mobile> .slick-dots li.slick-active button:before {
    color: #000 !important;
}
@media screen and (max-width: 1920px) {
    .content_advantages {
        margin-bottom: 10%;
    }
    .advantages {
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 1700px) {
    .content_advantages {
        margin-bottom: 4%;
    }
    .advantages {
        margin-bottom: 6%;
    }
}
@media screen and  (max-width: 1000px) {
    .content_advantages_mobile {
        display: flex !important;
        margin-bottom: 5%;   
    }
    .content_advantages_co {
        display: none;
    }
    .list_item_advantages> li {
        font-size: 4.2vw;
        margin-left: 2%;
        margin-right: 2%;
    }
    .col-md-4 {
        padding-left: 0;
    }
    .col-md-4 img {
        width: 100% !important;
    }
    .row {
        margin-left: 0 !important;
    }
}