.nav {
    background-color: #1b4278;
}
.nav .btn-effect{
    bottom: auto !important;
    top: 360px;
}
.btn button{
    background-color: #1b4278;
}
.adminToggle {
    outline: none !important;
}
.adminActions {
    position: fixed;
    right: 25px;
    bottom: 5%;
    z-index: 101;
}

.adminButton {
    height: 60px;
    width: 60px;
    background-color: #4b8cf7;
    border-radius: 50%;
    display: block;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
}

.adminButtons i {
    font-size: 26px;
}

.adminButton i {
    font-size: 32px;
}

.adminButtons {
    position: absolute;
    width: 100%;
    bottom: 120%;
    text-align: center;
}

    .adminButtons a {
        display: block;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        text-decoration: none;
        margin: 10px auto 0;
        line-height: 1.15;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        position: relative;
        box-shadow: 0 0 5px 1px rgba(51, 51, 51, .3);
    }

        .adminButtons a:hover {
            transform: scale(1.05);
        }

        .adminButtons a:nth-child(1) {
            background-color: #7c509d;
            transition: opacity .2s ease-in-out .3s, transform .15s ease-in-out;
        }

        .adminButtons a:nth-child(2) {
            background-color: #03a9f4;
            transition: opacity .2s ease-in-out .25s, transform .15s ease-in-out;
        }


.adminActions a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.adminToggle {
    -webkit-appearance: none;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    margin: 0 !important;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    transition: box-shadow .2s ease-in-out;
    box-shadow: 0 3px 5px 1px rgba(51, 51, 51, .3);
}

    .adminToggle:hover {
        box-shadow: 0 3px 6px 2px rgba(51, 51, 51, .3);
    }

    .adminToggle:checked ~ .adminButtons a {
        opacity: 1;
        visibility: visible;
    }

    @media (max-width: 500px) {
        .adminActions {
            right: 10px;
        }

    }