﻿.slider-wrapper {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.block_video_CarCarousel {
    position: absolute;
    width: 100%;
}

.video_CarCarousel {
    width: 1920px;
    height: 880px;
    object-fit: cover;
}

.fon {
    width: 1920px;
    height: 880px;
    position: absolute;
    z-index: 0;
    background-color: rgb(36 36 36 / 67%);
}

.car_carousel {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
}

.carousel-auto {
    width: 400px;
}

    .carousel-auto img {
        /*        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
        /*        object-fit: contain;*/
        width: 100%;
        height: 100%;
    }


.car-budget {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

    .car-budget span {
        color: #000000;
    }

.slider.ui-slider-horizontal {
    background-color: #1B4278;
    height: 8px;
    box-shadow: 0 0 2px 2px rgba(255,255,255, 0.5);
}


.slider {
    width: 60%;
    margin: 0 auto;
    margin-top: 17px;
    position: absolute;
}

.slider-pictures {
    margin-top: 20px;
}

.slider > span:last-of-type {
    top: -22px
}

@media all and (max-width: 576px) {
    .calculator-holder .slider {
        margin-top: 40px
    }
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0
}

.slider .ui-widget-header {
    position: relative;
    background-color: #4fb0fd
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0
}

.ui-slider-horizontal .ui-slider-range {
    left: 0;
    height: 100%
}

.slider-range-value, .slider.ui-slider .ui-slider-handle {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.ts-slider-range-value, .slider.ui-slider .ui-slider-handle {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.slider.ui-slider .ui-slider-handle {
    height: 25px;
    display: block;
    background-color: #1B4278;
    border-radius: 50%;
    top: -8px;
    z-index: 20;
    background: #1B4278;
    width: 25px;
    outline: none;
}

    .slider.ui-slider .ui-slider-handle:active {
        box-shadow: 0px 0px 0px 12px rgba(27, 66, 120, .3);
        border: 1px solid #1B4278;
    }

.ui-button, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, html .ui-button.ui-state-disabled:active, html .ui-button.ui-state-disabled:hover {
    border: 5px solid #4fb0fd
}

.ui-slider .ui-slider-handle {
    cursor: pointer;
    position: relative
}

.ui-slider-handle,
.ts-slider-range-value {
    cursor: pointer;
}

.ts-slider-range-value {
    position: absolute;
    left: 50%;
    bottom: -35px;
    color: #1B4278;
    font-size: 20px;
    font-weight: 500;
    width: 62px;
}

.ts-slide-position-0{
    text-align:left;
}

.ts-slide-position-1 {
    text-align: right;
}

.slider-range-value {
    cursor: pointer;
}
.col-md-4 {
    width: 25% !important;
}
.social_row {
    display: flex;
    justify-content: space-around;
}
.slider-range-value {
    position: absolute;
    left: 50%;
    bottom: -35px;
    color: #1B4278;
    font-size: 20px;
    font-weight: 500;
    width: 62px;
    text-align: center
}

@media all and (max-width: 800px) {
    .social_row {
        display:block !important;
    }
    .col-md-4 {
        width: 100% !important;
    }
}
@media all and (max-width: 576px) {
    .slider-range-value {
        bottom: unset;
        top: -35px
    }

    .ts-slider-range-value {
        bottom: unset;
        top: -35px
    }
}




body, html {
    height: 100%;
    font-family: Gilroy, sans-serif;
}



*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}


/*! jQuery UI - v1.12.1 - 2018-05-02
* http://jqueryui.com
* Includes: core.css, slider.css, theme.css
* Copyright jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
    z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
    cursor: default !important;
    pointer-events: none;
}


/* Icons
----------------------------------*/
.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-widget-icon-block {
    left: 50%;
    margin-left: -8px;
    display: block;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-slider {
    position: relative;
    text-align: left;
}

    .ui-slider .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: 1.2em;
        height: 1.2em;
        cursor: default;
        -ms-touch-action: none;
        touch-action: none;
    }

    .ui-slider .ui-slider-range {
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
        border: 0;
        background-position: 0 0;
    }

    /* support: IE8 - See #6727 */
    .ui-slider.ui-state-disabled .ui-slider-handle,
    .ui-slider.ui-state-disabled .ui-slider-range {
        filter: inherit;
    }

.ui-slider-horizontal {
    height: .8em;
}

    .ui-slider-horizontal .ui-slider-handle {
        top: -.3em;
        margin-left: -.6em;
    }

    .ui-slider-horizontal .ui-slider-range {
        top: 0;
        height: 100%;
    }

    .ui-slider-horizontal .ui-slider-range-min {
        left: 0;
    }

    .ui-slider-horizontal .ui-slider-range-max {
        right: 0;
    }

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}

    .ui-slider-vertical .ui-slider-handle {
        left: -.3em;
        margin-left: 0;
        margin-bottom: -.6em;
    }

    .ui-slider-vertical .ui-slider-range {
        left: 0;
        width: 100%;
    }

    .ui-slider-vertical .ui-slider-range-min {
        bottom: 0;
    }

    .ui-slider-vertical .ui-slider-range-max {
        top: 0;
    }

/* Component containers
----------------------------------*/
.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}

    .ui-widget .ui-widget {
        font-size: 1em;
    }

    .ui-widget input,
    .ui-widget select,
    .ui-widget textarea,
    .ui-widget button {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 1em;
    }



.ui-widget-content {
    /*border: 1px solid #dddddd;*/
    background: #ffffff;
    color: #333333;
}

    .ui-widget-content a {
        color: #333333;
    }

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;
}

    .ui-widget-header a {
        color: #333333;
    }

    /* Interaction states
----------------------------------*/
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-button,
    /* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */
    html .ui-button.ui-state-disabled:hover,
    html .ui-button.ui-state-disabled:active {
        border: 1px solid #c5c5c5;
        background: #f6f6f6;
        font-weight: normal;
        color: #454545;
    }

        .ui-state-default a,
        .ui-state-default a:link,
        .ui-state-default a:visited,
        a.ui-button,
        a:link.ui-button,
        a:visited.ui-button,
        .ui-button {
            color: #454545;
            text-decoration: none;
        }

            .ui-state-hover,
            .ui-widget-content .ui-state-hover,
            .ui-widget-header .ui-state-hover,
            .ui-state-focus,
            .ui-widget-content .ui-state-focus,
            .ui-widget-header .ui-state-focus,
            .ui-button:hover,
            .ui-button:focus {
                border: 1px solid #cccccc;
                background: #ededed;
                font-weight: normal;
                color: #2b2b2b;
            }

                .ui-state-hover a,
                .ui-state-hover a:hover,
                .ui-state-hover a:link,
                .ui-state-hover a:visited,
                .ui-state-focus a,
                .ui-state-focus a:hover,
                .ui-state-focus a:link,
                .ui-state-focus a:visited,
                a.ui-button:hover,
                a.ui-button:focus {
                    color: #2b2b2b;
                    text-decoration: none;
                }

.ui-visual-focus {
    box-shadow: 0 0 3px 1px rgb(94, 158, 214);
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #ffffff;
}

    .ui-icon-background,
    .ui-state-active .ui-icon-background {
        border: #003eff;
        background-color: #ffffff;
    }

    .ui-state-active a,
    .ui-state-active a:link,
    .ui-state-active a:visited {
        color: #ffffff;
        text-decoration: none;
    }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #dad55e;
    background: #fffa90;
    color: #777620;
}

.ui-state-checked {
    border: 1px solid #dad55e;
    background: #fffa90;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: #777620;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    border: 1px solid #f1a899;
    background: #fddfdf;
    color: #5f3f3f;
}

    .ui-state-error a,
    .ui-widget-content .ui-state-error a,
    .ui-widget-header .ui-state-error a {
        color: #5f3f3f;
    }

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
    color: #5f3f3f;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
    font-weight: bold;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70); /* support: IE8 */
    font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35); /* support: IE8 */
    background-image: none;
}

    .ui-state-disabled .ui-icon {
        filter: Alpha(Opacity=35); /* support: IE8 - See #6059 */
    }

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 3px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 3px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 3px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 3px;
}

/* Overlays */
.ui-widget-overlay {
    background: #aaaaaa;
    opacity: .3;
    filter: Alpha(Opacity=30); /* support: IE8 */
}

.ui-widget-shadow {
    -webkit-box-shadow: 0px 0px 5px #666666;
    box-shadow: 0px 0px 5px #666666;
}

.slider-wrapper .slick-list {
    padding: 30px 0;
}

.slider-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

    .slider-wrapper .slider .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 10;
    }

    .slider-wrapper .slider-pictures .slick-prev:before,
    .slider-wrapper .slider-pictures .slick-next:before {
        color: #000;
        font-size: 26px;
    }

    .slider-wrapper .slider-pictures .slick-slide {
        transition: all 0.3s ease 0s;
        text-align: center;
        opacity: 0.4;
        margin: 20px;
    }

    .slider-wrapper .slick-slide.slick-center {
        opacity: 1;
    }

.catalog_auto {
    display: block;
    position: relative;
}

.catalog_auto_content {
    position: absolute;
}


.car-title {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: #4fb0fd;
    bottom: 0;
}

.popular-cars {
    margin: 0 auto;
    color: #000000;
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    width: fit-content;
    text-transform: uppercase;
}

.second_word {
    color: #1B4278;
    font-weight: 700;
}

.car-title p {
    margin: 0 auto;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    width: fit-content;
}


.popular-cars {
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: 300;
}

.get-price-wrapper {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

    .get-price-wrapper label {
        font-weight: 550;
    }

.get-price a {
    text-decoration: none;
    outline: none;
    width: 350px;
}
.get-price_mobile a {
    text-decoration: none;
    outline: none;
    width: 350px;
}

.get-price a {
    font-size: 22px;
}
.get-price_mobile a {
    font-size: 22px;
}


.get-price .main-slider__btn {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.get-price_mobile .main-slider__btn {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.get-price .main-slider__btn .main-slider__btn_inner {
        width: 130px !important;
    }

.get-price_mobile .main-slider__btn .main-slider__btn_inner {
    width: 130px !important;
}

/*Pop-up-window*/
.custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
}

.model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
}

.custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    margin: 30px auto;
    max-width: 97%;
}

.custom-model-wrap {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}

.model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
}

.model-open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}

.bg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
}

.close-btn {
    position: absolute;
    right: 0;
    top: -30px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: #fff;
}


@media screen and (min-width:800px) {
    .custom-model-main:before {
        content: "";
        display: inline-block;
        height: auto;
        vertical-align: middle;
        margin-right: -0px;
        height: 100%;
    }
}

@media screen and (max-width:799px) {
    .custom-model-inner {
        margin-top: 45px;
    }
}

@media screen and (max-width: 600px) {
    .block_video_CarCarousel {
        left: -166%;
    }

    .fon {
        width: 1664px;
        height: 736px;
    }

    .car_carousel {
        margin-bottom: 100px;
    }

    .video_CarCarousel {
        width: 1664px;
        height: 736px;
        padding-right: 20%;
    }

    .get-price a {
        width: 250px !important;
    }

    .carousel-auto {
        width: 300px;
    }
}

.pop-up-content-wrap .btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pop-up-content-wrap .ui-title-inner {
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

.pop-up-content-wrap .form-control {
    font-size: 16px;
}

.thanks-block {
    width: 100%;
    padding: 30px;
}


.none-disp {
    display: none;
}

.block-disp {
    display: block;
}

.thanks-block .major-text {
    color: #1b4278;
    text-align: center;
    font-size: 36px;
}

.thanks-block .small-text {
    color: #4fb0fd;
    font-size: 20px;
    text-align: center;
}

.pop-up-content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .pop-up-content-wrap img {
        max-width: 200px;
        margin-top: 30px;
    }

.form-contact-car-slider {
    margin-top: 30px;
}

/*.slider-wrapper .slick-slide img {
    border-radius: 16px;
}*/

/*.slick-current img {
    height: 400px;
    width: 300px;
}*/

/*.slider-pictures .slick-list .slick-track .previousSlide1 {
    transform: scale(.8);
    margin-right: -10px;
}

.slider-pictures .slick-list .slick-track .previousSlide2 {
    transform: scale(.6);
    margin-right: -70px;
}*/

/*pop-up-window*/
