﻿.header {
    position: relative;
    width: 100%;
    height: 110px;
}

    .header .top-header {
        border-bottom: none;
        height: 100%;
    }

.header__inner {
    margin: 0;
}

.custom-caption .get-price .main-slider__btn {
    height: 55px;
}

.nav-toggle {
    top: 6.5em;
    font-size: 1.4em;
}

.custom-caption .get-price a {
    font-size: 18px;
}

    .custom-caption .get-price a:after {
        width: 60%;
        transform: translateX(-50%) translateY(-50%) rotate(75deg);
    }

.header-container {
    width: 100%;
}

.container:after {
    clear: inherit !important;
}

.wrap__btn-skew-r {
    margin-top: 0;
    margin-bottom: 20px;
}

.header-contacts__item {
    font-weight: 700;
    font-size: 1.1vw;
}

.customlogo .logo__img {
    max-width: 300px !important;
}

.menu-link {
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    font-size: .9vw;
    position: relative;
    font-weight: 700;
    margin-right: 1.61vw;
    text-decoration: none !important;
    color: #000;
    max-height: 100%;
}

    .menu-link:after {
        background-color: #1B4278;
        content: "";
        height: 3px;
        width: 50%;
        margin-top: 2px;
        transition: all .5s ease-out;
    }

    .menu-link:hover {
        color: #1B4278;
        transition: all .5s ease-out;
    }

        .menu-link:hover:after {
            display: block;
            background-color: #1B4278;
            content: "";
            height: 3px;
            width: 50%;
            margin-top: 2px;
            transition: all .5s ease-out;
        }

.menu-linka:active {
    color: #1B4278;
}

.sp-slide {
    background-color: #fff !important;
}

    .sp-slide .home-carousel {
        width: 66%;
        margin: 125px 30px 0 30px;
    }

.header-caption .main-slider__subtitle {
    color: #000;
}

.header-caption .main-slider__title {
    color: #000;
}

.sp-slide .home-carousel .slick-list {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

    .sp-slide .home-carousel .slick-list .slick-track {
        height: 100%;
    }

    .sp-slide .home-carousel .slick-list .slick-slide {
        margin: 0 1px;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        outline: none;
    }

        .sp-slide .home-carousel .slick-list .slick-slide img {
            margin: 0 1px;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

.home-carousel {
    height: 70%;
}

    .home-carousel .slick-prev,
    .home-carousel .slick-next {
        top: 50%;
    }


    .home-carousel .slick-dots {
        color: #fff;
        top: 102%;
    }

        .home-carousel .slick-dots li button::before {
            opacity: 1;
            color: #777;
            font-size: 10px;
        }

.slick-dots li.slick-active button:before {
    color: #fff !important;
}

@media (min-width: 621px) {
    .custom-margin {
        margin-top: 11px;
    }
}


@media (min-width: 1200px) {
    

    .custom-width {
        width: 35%;
    }
}

@media (max-width: 1200px) {

    .home-carousel {
        width: 86% !important;
        height: 500px;
        margin-top: 0 !important;
    }

    .header-contacts__item {
        font-weight: 700;
        font-size: 16px;
    }

    .menu-link {
        display: none;
    }

    .sp-layer {
        margin-bottom: 60px;
    }

    .sp-slide, .slider-pro {
        height: 1100px !important;
    }
}

@media (max-width: 1400px) {
    .menu-link {
        font-size: 12px;
    }
}

@media (max-width: 990px) {
    .header-contacts {
        width: fit-content;
        margin-left: 20px;
    }

    .social-links {
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 900px) {
    .home-carousel {
        height: 400px;
    }

    .header {
        width: 100%;
    }

    .slider-pro {
        height: 1000px !important;
        width: 100%;
    }

    .sp-slide {
        height: 1000px !important;
    }
}

@media (max-wdth: 800px) {
    .sp-slide .home-carousel .slick-list {
        height: 90%;
    }
}


@media (max-width: 700px) {
    .home-carousel {
        height: 400px;
    }

    .slick-list {
        height: 96%;
    }
}

@media (max-width: 660px) {
    .home-carousel {
        height: 300px;
    }

    .top-header .col-xs-12 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header-contacts {
        display: flex;
    }

    .header-contacts__item {
        font-size: 16px;
    }

    .header {
        height: 165px;
    }
}

@media (max-width: 621px) {
    .header {
        position: relative;
        width: 100%;
    }

    .nav-toggle {
        top: 8em;
    }

    .sp-slide .sp-layer {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .sp-slide, .slider-pro {
        height: 770px !important;
    }
}

@media (max-width: 500px) {
    .home-carousel {
        height: 200px;
    }

    .header {
        height: 185px;
    }

    .slider-pro {
        height: 700px !important;
    }

    .sp-slide {
        height: 700px !important;
    }

    .header-contacts {
        flex-direction: column;
    }

    .nav-toggle {
        right: 300px;
        top: 7em;
    }

    .header .row .col-xs-12 {
        flex-direction: column;
    }

    .sp-slide .home-carousel {
        margin-top: 90px;
    }

    .home-carousel .slick-prev,
    .home-carousel .slick-next {
        top: 50%;
    }

    .sp-slide .home-carousel {
        margin-top: 50px;
    }
}

@media (max-width: 400px) {
    .nav-toggle {
        right: 290px;
    }
}
