.google_reviews {
    margin-left: 50px;
    margin-right: 50px;
}
.scroll_block {
    overflow-y: scroll;
    height: 200px;
}
.img_company {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.img_company img{
    width: 100%;
    border-radius: 5%;
}

.first_header {
    display: flex;
    justify-content: space-between;
}
.second_header {
    display: flex;
    justify-content: space-between;
    height: 35px;
    position: relative;
}
.adress h1{
    margin: 0;
    padding: 0;
    color: #000;
    opacity: 0.8;
}

.headers {
    padding-top: 1%;
}

.our_contacts {
    padding-bottom: 10%;
    padding-left: 0!important;
}

.stars h1 {
    margin: 0;
    padding: 0;
    color: #000;
    opacity: 0.8;
    vertical-align: bottom;
}

.review_btn {
    margin-top: 10px;
    background-color: #4683f9;
    height: 100%;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none !important;
}

.review_btn:hover {
    color: #fff;
}

.review_btn img {
    margin-right: 2px;
}

.stars {
    display: flex;
    align-items: flex-end;
    width: 350px;
}

.star {
    width: 50%;
    margin-bottom: 2%;
}
.star img {
    width: 12.5%;
    height: 12.5%;
    margin-right: 5px;
    margin-left: 5px;
}

.about_reviews p {
    margin: 0;
    margin-bottom: 2%;
}

.sort_reviews {
    display: flex;
    align-items: flex-end;
}

.sort_reviews p {

    margin: 0;
}

.star_author {
    width: 15px;
    height: 15px;
    margin-right: 1px;
    margin-left: 1px;
}

.google_review {
    display: flex;
}

.review_author {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 7px;
}

.name_author {
    margin: 0;
    height: 15px;
}

.data_review {
    display: flex;
    height: 15px;
    margin-bottom: 10px;
}

.data_author {
    margin-right: 5px;
}

.time_author {
    margin-left: 3px;
}

.star_time {
    display: flex;
    height: 25px;
}

.like_author {
    display: flex;
    align-items: flex-end;
    text-decoration: none !important;
}

.like_author span{
    color: #000;
    font-size: 15px;
}

.like {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.pressed-button {
    width: 100%;
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 20px;
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;
    text-align: center;
}
.network-button1 {
    background-image: linear-gradient(120deg, #59267c, #8f5db7,#8A83B3);
}
.network-button2 {
    background-image: linear-gradient(120deg, #0088cc, #7ed4ff);
}
.network-button3 {
    background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.pressed-button:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
    text-decoration: none !important;
    color: #fff !important;
}

@media screen and (max-width: 635px) {
    .pressed-button {
        width: 100%;
        text-align: center;
        margin: 0 0 15px 0;
    }

    .first_header {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
    }
    .adress h1 {
        font-size: 35px;
    }
    .review_btn {
       font-size: 20px;
       width: 200px; 
       margin-top: 0;
    }

     .review_btn img {
        width: 10%;
        height: 10%;
     }
     .sort_reviews {
         display: none;
     }
    .adress p {
        font-size: 12px;
    }
    .img_company img {
        width: 120%;
    }
}