.wrap-section-border {
	padding-top: 30px;
	overflow: hidden;
}

.bg-inner {
	position: relative;
	z-index: 10;
}

.section-bg {
	position: relative;
}
.section-bg_second {
	background-color: #4fb0fd;
}
.section-bg:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	opacity: 0.1;
	content: '';
}
.section-bg .bg-inner {
	padding-top: 40px;
}

.section-bg-2:before {
	position: absolute;
	display: block;
	content: '';
	opacity: 0.1;
}
.section-without-padding{
	padding-top:0px
}
.section_default {
	position: relative;
	padding-top: 90px;
	padding-bottom: 130px;
}
.section_mod-a {
	position: relative;
	padding-top: 40px;
	padding-bottom: 65px;
}
.section_mod-a:before {
	bottom: -30px;
}
.section_mod-a .ui-title-inner {
	margin-top: 0;
}
.section_mod-a .brand-link {
	margin-top: 55px;
}

.section_mod-b {
	height: 678px;
}

.section_mod-c:after {
	background-image: url('../media/bg/3.jpg');
}

.section_mod-d {
	padding-bottom: 70px;
	background: url('../media/bg/10.png') no-repeat 100% 100%;
}
.section_mod-d .ui-subtitle-block_mod-b {
	margin-bottom: 65px;
}
.section_mod-d .link {
	margin-top: 23px;
}
.section_mod-d .decor-1 + .link {
	margin-top: 0;
}


.section_mod-f:after {
}

.section_mod-g:after {
}

.section_mod-h {
	padding-bottom: 100px;
}
.section_mod-h:after {
}

.section_mod-e:before {
	bottom: -30px;
}

.section_mod-i {
	padding-top: 100px;
	padding-bottom: 45px;
}

.section_brands {
	margin-top: 100px;
	padding-bottom: 0;
}
.section_brands .ui-title-inner {
	margin-top: 40px;
	margin-bottom: 0;
}

.section_list-post {
	padding-top: 106px;
	padding-bottom: 60px;
}
.section_list-post .ui-subtitle-block_mod-b {
	margin-bottom: 56px;
}
.section_list-post .ui-title-block {
	margin-top: 0;
}

.section_map {
	position: relative;
	padding-top: 100px;
	padding-bottom: 50px;
}
.section_map:before {
	bottom: -30px;
}
.section_map .ui-title-inner {
	margin-top: 43px;
	margin-bottom: 25px;
}

.section_letter {
	color: #fff;
}
.section_letter .bg-inner {
	padding-top: 28px;
	padding-bottom: 48px;
	overflow: hidden;;
}
