.sidebar {
	margin-bottom: 40px;
	padding-top: 5px;
	padding-bottom: 50px;
	background-color: #fff;
}

.widget {
	padding: 26px 32px 0;
}
.widget_mod-a {
	padding: 46px 32px 35px;
	border-bottom: 1px solid #eee;
}
.widget_mod-b {
	margin-top: 30px;
	padding-left: 80px;
}
.widget_mod-c {
	padding-bottom: 16px;
}
.widget-slider {
	padding-bottom: 38px;
}

.widget-title {
	position: relative;
	margin-top: 0;
	margin-bottom: 12px;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 700;
	color: #222;
	text-transform: uppercase;
}
.widget-title:before {
	position: absolute;
	top: -5px;
	left: -32px;
	width: 4px;
	height: 25px;
	background-color: #999;
	content: '';
}
.widget-content {
	margin-top: 35px;
	margin-bottom: 8px;
}


.widget-post1 {
	margin-top: 25px;
	padding-bottom: 26px;
	border-bottom: 1px solid #eee;
}
.widget-post1__img {
	float: left;
	width: 75px;
}
.widget-post1__inner {
	margin-left: 100px;
}
.widget-post1__title {
	margin-top: 0;
	margin-bottom: 6px;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	color: #555;
	text-align: left;
}
.widget-post1__price {
	margin-bottom: 12px;
	font: 500 13px Ubuntu;
	text-align: left;
	text-transform: uppercase;
}
.widget-post1__description {
	font-weight: 300;
}

.widget-post1__reviews {
	margin-top: 13px;
}

.widget-banner {
	margin-bottom: 30px;
}



.list-categories__link {
	display: block;
	margin-bottom: 12px;
	margin-left: 8px;
	font-weight: 500;
	color: #555;
	transition: all 0.3s;
	text-transform: uppercase;
}
.list-categories__link:before {
	display: inline-block;
	margin-right: 13px;
	font: normal normal normal 7px/1 FontAwesome;
	vertical-align: middle;
	content: '\f0da';
}
.list-categories__link:hover {
	text-decoration: none;
}
.list-categories__more {
	display: block;
	margin-top: 27px;
	margin-left: 9px;
	font-size: 11px;
	font-weight: 500;
}



.list-descriptions dt {
	display: block;
	margin-left: 2px;
	font-weight: 500;
	color: #222;
	transition: all 0.3s;
	text-transform: uppercase;
}
.list-descriptions dt:before {
	display: inline-block;
	margin-right: 13px;
	font: normal normal normal 7px/1 FontAwesome;
	vertical-align: middle;
	content: '\f0da';
}
.list-descriptions dt:hover {
	text-decoration: none;
}
.list-descriptions dd {
	display: block;
	margin-top: 3px;
	margin-bottom: 23px;
	margin-left: 17px;
	font-weight: 300;
	line-height: 1.7;
}


.slider-price {
	max-width: 200px;
}
.slider-price__wrap-input {
	display: block;
	margin-bottom: 5px;
}
.slider-price__input {
	display: inline-block;
	width: 70px;
	margin: 0 10px;
	font-size: 10px;
	color: #fff;
	border: none;
	background-color: #444;
	text-align: center;
}

.wrap__btn-skew-r {
	/*width: 160px;*/
	margin-top: 42px;
	padding-left: 12px;
	padding-right: 12px;
	overflow: hidden;
}
.btn-skew-r {
	margin-left: -20px;
	padding: 15px 29px 14px;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	border: none;
	box-shadow: 5px 0 0 0 #555;
	transform: skewX(18deg);
	text-transform: uppercase;
}
.btn-skew-r__inner {
	font-family: Gilroy, sans-serif;
	display: block;
	transform: skewX(-18deg);
}
.btn-skew-r.btn-effect:after {
	background-color: #222;
}


.list-tags__link {
	display: block;
	padding: 10px 18px;
	font-size: 11px;
	font-weight: 500;
	color: #222;
	background-color: #f5f5f5;
	box-shadow: 0 3px 0 0 #ccc;
	transition: all 0.3s;
	text-transform: uppercase;
}
.list-tags__link:hover {
	color: #fff;
	box-shadow: 0 3px 0 0 #555;
	text-decoration: none;
}

.list-tags > li {
	margin-bottom: 15px;
	padding-left: 0;
}


.social-blog {
	padding-left: 0;
	list-style-type: none;
}
.social-blog__item {
	position: relative;
	margin-bottom: 22px;
	padding-bottom: 23px;
	padding-left: 24px;
	font-weight: 300;
	line-height: 1.53;
	color: #888;
	border-bottom: 1px solid #eee;
}
.social-blog__item:before {
	position: absolute;
	top: 2px;
	left: 0;
	font: normal normal normal 14px/1 FontAwesome;
	content: '\f099';
}
.social-blog__link,
.social-blog__link a {
	margin-top: 7px;
	font-weight: 500;
	color: #555;
}
.social-blog__link:hover {
	color: #555;
}

.widget_searce {
	margin-bottom: 27px;
	padding-top: 33px;
}
.form-search {
	position: relative;
	padding-bottom: 17px;
	border-bottom: 1px solid #ccc;
}
.form-search__input {
	width: 100%;
	padding: 0 30px 0 5px;
	font-family: Ubuntu;
	font-size: 13px;
	font-weight: 400;
	color: #ccc;
	border: none;
}
.form-search__input:focus {
	outline-style: none;
}
.form-search__submit {
	position: absolute;
	top: -2px;
	right: 0;
	font-size: 16px;
	color: #999;
	border: none;
	background-color: transparent;
}
.form-search__input::-webkit-input-placeholder {
	color: #aaa;
}
.form-search__input::-moz-placeholder {
	color: #aaa;
}

.btn-filter {
	margin-left: 40px;
}
