		.purchase_procedure {
			display: block;
			position: relative;
			margin-top: 75px;
		}

		.regular {
			display: block !important;
			width: 100% !important;
			top: 40%;
		}

		.regular > .slick-dots {
			text-align: center !important;
			margin-left: 0 !important;
		}
		
		.catalog_auto {
			display: block;
			position: relative;
		}
		.catalog_auto_content {
			position: absolute;
		}
		.block_video {
			overflow: hidden;
			display: block;
			position: relative;
		}

		.stage_title > h3 {
			color: #fff;
			font-size: 1.55vw;
			font-weight: 700;
			white-space: nowrap;
		}


		.stage_title_slider>h3 {
			color: #fff;
			font-size: 6vw;
			font-weight: 700;
		}

		.video_content>h1 {
			font-family: Gilroy, sans-serif;
			font-size: 40px;
			font-weight: 300;
			margin: 0;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
		}


		.video_heading {
			width: 100%;
			height: 100%;
			background-color: rgb(36 36 36 / 67%);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 3;
		}

		.video_content {
			width: 100%;
			padding-top: 2%;
			margin: 0 auto;
		}

		.stages {
			margin: 0 auto;
			display: none;
		}

		.first_stages, .second_stages {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.first_stages {
			margin-top: 2%;
			height: 300px;
		}

		.second_stages {
			margin-top: 5%;
			height: 250px;
		}

		.stage {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 2%;
			margin-left: 2%;
			align-items: center;
			width: 25%;
			transition: all 0.7s;
		}

		.stage_slider {
			display: flex !important;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 5%;
			width: 100% !important;
			transition: all 0.7s; 
		}

		.stage_1 {
			height: 95%;
		}

		.stage_2 {
			height: 105%;
			margin-top: 40px;
		}
		.stage_3 {
			height: 130%;
		}
		.stage_4 {
			height: 120%;
			margin-top: 40px;
		}
		.stage_6, .stage_7, .stage_8 {
			height: 135%;
		}
		.stage_7 {
			margin-top: 40px;
		}
		.stage_5 {
			height: 140%;
		}

		.stage:hover .stage_1{
			height: 95%;
		 }
		.stage:hover .stage_2{
			height: 105%;
		 }

		.stage_1, .stage_3, .stage_6, .stage_8{
			margin-bottom: 3%;
		}

		.img_stages {
			width: 50%;
			border-radius: 50%;
		}


		.arrow {
			width: 7.5%;
			margin-left: 0.1%;
			margin-right: 0.1%;
		}

		.img_arrow {
			margin-top: 150%;
			width: 100%;
			transform: rotate(20deg);
		}

		.img_arrow2 {
			margin-top: 190%;
			width: 100%;
			transform: rotate(-25deg);
		}

		.img_backface {
			width: 35%;
			margin: 2%;
		}

		.stage_decor {
			width: 80%;
			height: 5%;
			color: #fff;
			margin-bottom: 5%;
			margin-left: 10%;
		}

		.stage_description {
			color: #fff;
			font-size: 1.3vw;
			margin: 5%;
		}

		.stage_description_slider {
			color: #fff;
			font-size: 2.3vw;
			margin: 5%;
		}

		.stage_name {
			color: #ffffff;
			text-align: center;
			font-size: 1.3vw;
			font-weight: 700;
			margin: 1%;
		}

		.stage_name_slider {
			color: #ffffff;
			text-align: center;
			font-size: 2.3vw;
			font-weight: 700;
			margin: 1%;
		}

		.stage_backface{
			display: none;
		}

		.firstPart_stage_backface {
			display: flex;
			align-items: center;
		}

		.stage:hover {
			display: block;
			width: 25%;
			border-radius: 3%;
			transition: all 1.2s;
			background-color: black;
			opacity: 0.7;
	}

       .stage_slider:hover {
       		display: block;
			width: 25%;
			border-radius: 3%;
			transition: all 1.2s;
			background-color: black;
			opacity: 0.7;
       }
       	.stage_slider:hover .img_stages{
       		display: none;
       }

       .stage_slider:hover .stage_title_slider>h3{
       		display: none;
        }

        .stage_slider:hover .stage_backface {
        	display: block;
        }




       .stage:hover .img_stages{
       	display: none;
       }

       .stage:hover .stage_title>h3{
       		display: none;
        }

        .stage:hover .stage_backface {
        	display: block;
        }
		.block_video_stages {
			position: relative;
		}

		.video_stages {
			width: 100%;
			height: auto;
		}
		@media (max-width: 1600px) {
			.stage_1 {
				height: 85%;
			}

			.stage_2 {
				height: 95%;
			}

			.stage_3 {
				height: 120%;
			}

			.stage_4 {
				height: 110%;
			}

			.stage_6, .stage_7, .stage_8 {
				height: 115%;
			}

			.stage_5 {
				height: 130%;
			}
		}
		@media (max-width: 1500px) {
			.stage_1 {
				height: 75%;
			}

			.stage_2 {
				height: 85%;
			}

			.stage_3 {
				height: 110%;
			}

			.stage_4 {
				height: 100%;
			}

			.stage_6, .stage_7, .stage_8 {
				height: 105%;
			}

			.stage_5 {
				height: 120%;
			}
		}
		@media (max-width: 1300px) {
			.stage_1 {
				height: 65%;
			}

			.stage_2 {
				height: 75%;
			}

			.stage_3 {
				height: 100%;
			}

			.stage_4 {
				height: 90%;
			}

			.stage_6, .stage_7, .stage_8 {
				height: 95%;
			}

			.stage_5 {
				height: 110%;
			}
			.second_stages {
				margin-top: 2%;
			}
		}

        @media screen and (min-width: 600px) {
			.regular {
				display: none !important;
			}
			.stages {
				display: block ;
			}
		}


			

			.regular > .slick-dots li button:before {
				color: #fff ;
			}

			

		@media screen and (max-width: 600px) {
			.block_video_stages {
				left: -166%;
	
			}
			.video_stages {
				width: 1664px;
				height: 736px;
				padding-right: 20%;
			}
			.firstPart_stage_backface > h3 {
				font-size: 5vw;
			}
			.stage_slider:hover {
				width: 80% !important;
				margin-left: 10%;
			}
			.stage_description_slider {
				font-size: 4vw;
			}
		}
			

