﻿@using Umbraco.Web.PublishedModels;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var content = Model.Children;
    var menu = Model.Menu.ToList();
}

<div id="this-top" class="layout-theme animated-css" data-header="sticky" data-header-top="200">
    <style>
         .sticky {
            background-color: @Model.NavColor !important
        }
    </style>
    <div id="wrapper">
        @if (content.Any(x => x.IsDocumentType("contactUs")))
        {
            var dc = content.First(x => x.IsDocumentType("contactUs"));
            var contentDC = new ContactUs(dc);
            <div class="header">
                <div class="top-header">
                    <div class="container header-container">
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="/" class="logo customlogo">
                                    <img class="logo__img img-responsive" src="@(Model.SmallLogo != null ? Model.SmallLogo.Url() : string.Empty)" alt="Logo" style=" max-width: 220px;">
                                </a>
                                <a class="menu-link" onclick="scrollToElement('advantages')">Преимущества</a>
                                <a class="menu-link" onclick="scrollToElement('procedure')">Процедура</a>
                                <a class="menu-link" onclick="scrollToElement('carousel')">Лидеры продаж</a>
                                <a class="menu-link" onclick="scrollToElement('catalog')" >Каталог авто</a>
                                <a class="menu-link" onclick="scrollToElement('news-details')">Наши контакты</a>
                                <ul class="social-links list-inline">
                                    @foreach (var network in contentDC.SocialNetworks)
                                    {
                                        <li>
                                            <a href="@network.Link"><img src="@(network.WhiteIcon==null ? string.Empty : network.BlackIcon.Url())" /></a>
                                        </li>
                                    }
                                </ul>
                                <div class="header-contacts">
                                    <span class="header-contacts__item"><i class="icon fa fa-phone"></i>@contentDC.Telephone</span>
                                </div>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end container -->
                </div><!-- end top-header -->



                <div class="header__inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <input type="checkbox" id="nav-toggle" hidden>
                                <input type="checkbox" id="call-form-chb" name="call-form-chb" hidden>
                                <nav class="nav">
                                    <label for="nav-toggle" style="display:flex; flex-direction: row-reverse" class="nav-toggle">
                                    </label>

                                    <ul>
                                        @foreach (var item in menu)
                                        {
                                            var func = $"scrollToElement('{item.PageName}')";
                                            <li><a style="cursor:pointer" onclick="@func">@item.ItemText <i class="@item.ItemPicture"></i></a></li>
                                        }

                                    </ul>
                                    <label class="call-form-chb main-slider__btn btn-effect" for="call-form-chb" style="position: absolute; bottom: 30px; left: 10%; right: 10%; text-align: center;">
                                        <span class="main-slider__btn_inner back-span">Заказать звонок</span>
                                    </label>

                                    <form class="menu-call-form">
                                        <input class="call-form-name" autocomplete="off" type="text" id="menu-name-request" name="name" placeholder="Ваше имя" data-msg="Введите номер телефона" style="margin-bottom: 10px;border-bottom: 1px solid #fff;padding-bottom: 10px;">

                                        <div>
                                            <input class="call-form-tel" id="menu-tel-request" name="Number"
                                                   type="tel" autocomplete="off" placeholder="+38 (___) ___-__-__" required>
                                        </div>
                                        <input type="text" autocomplete="off" class="call-form-text" name="Auto" id="menu-car-request" cols="30" rows="4" placeholder="Введите марку авто" />
                                        <button class="call-button" id="side-form-button" type="submit">Заказать звонок</button>
                                    </form>

                                    <label for="call-form-chb" class="arrow-left">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </label>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- end container -->
                </div><!-- end header__inner -->
            </div>
        }

        @{
            foreach (var block in content)
            {
                switch (block.ContentType.Alias)
                {
                    case "aboutUs":
                        Html.RenderPartial("~/Views/Partials/Content/AboutUs.cshtml", block);
                        break;
                    case "carousel":
                        Html.RenderPartial("~/Views/Partials/Content/Carousel.cshtml", block);
                        break;
                    case "contactUs":
                        Html.RenderPartial("~/Views/Partials/Content/ContactUs.cshtml", block);
                        break;
                    case "heroComponent":
                        Html.RenderPartial("~/Views/Partials/Content/HeroComponent.cshtml", block);
                        break;
                    case "realFacts":
                        Html.RenderPartial("~/Views/Partials/Content/RealFacts.cshtml", block);
                        break;
                    case "carCarousel":
                        Html.RenderPartial("~/Views/Partials/Content/CarCarousel.cshtml", block);
                        break;
                    case "listBlocks":
                        Html.RenderPartial("~/Views/Partials/Content/ListBlocks.cshtml", block);
                        break;
                    case "aboutUsDetails":
                        Html.RenderPartial("~/Views/Partials/Content/AboutUsDetails.cshtml", block);
                        break;
                    case "catalogAvto":
                        Html.RenderPartial("~/Views/Partials/Content/CatalogAuto.cshtml", block);
                        break;
                    case "video":
                        Html.RenderPartial("~/Views/Partials/Content/Video.cshtml", block);
                        break;
                    default:
                        break;
                }
            }
        }
    </div>
</div>


<div class="adminActions">
    <input type="checkbox" name="adminToggle" class="adminToggle" />
    <a class="adminButton" href="#!"><i class="far fa-comment-dots"></i></a>
    <div class="adminButtons">
        <a href="https://invite.viber.com/?g2=AQB87%2BIp80gRrkyMv0kvFDRfaPlOz4Y0XOxUEv0yor4YfMEYbqmzjj4c3LNveraq" target="_blank" title="Viber"><i class="fab fa-viber"></i></a>
        <a href="https://t.me/TrustShippingInfo_bot" target="_blank" title="Telegram"><i class="fab fa-telegram-plane"></i></i></a>
    </div>
</div>




<script src="~/assets/js/podbor/jquery-3.3.1.min.js"></script>
<script src="~/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/fonts/font-awesome/css/font-awesome.css"></script>


<script>
    $(document).ready(function ($) {
        $(document).ready(function () {
            $("#menu-tel-request").mask("+38 (999) 999-99-99");
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#wrapper").on("click", ".nav-a", function (event) {
            event.preventDefault();
            var id = $(this).attr('href'),
                top = $(id).offset().top;
            $('body,html').animate({ scrollTop: top }, 1500);
        });
    });
</script>