﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.OrderFormPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var content = Model.Children;
}
<div class="grid-container container-bg">
    <div class="left-grid">
        <div>

        </div>
        <img src="/media/sd4jpqoo/лого2.png" style="max-width:200px"/>
    </div>
    <div style="margin:auto">
        <ul class="social-links list-inline">
            <li><a href="https://t.me/joinchat/AAAAAFahPJYywa0vcZLZQA"><img style="width: 28px;" src="/media/excfwds1/telega.png"></a></li>
            <li><a href="https://invite.viber.com/?g2=AQB87%2BIp80gRrkyMv0kvFDRfaPlOz4Y0XOxUEv0yor4YfMEYbqmzjj4c3LNveraq&quot; "><img style="width: 28px;" src="/media/4q0klwkf/viber.png"></a></li>
            <li><a href="https://www.instagram.com/trustshipping_ua/"><img style="width: 28px;" src="/media/weenaacy/ins.png"></a></li>
        </ul>
    </div>
    <div class="left-grid">
        <div>

        </div>
        <div>
            <h1 class="main-header">ПОДБОР И ДОСТАВКА АВТО ИЗ США ОТ 8 НЕДЕЛЬ «ПОД КЛЮЧ» ПО ДОГОВОРУ</h1>

        </div>
    </div>
    <div>
        
    </div>
    <div class="left-grid">
        <div>

        </div>
        <div class="form-container">
            <div>
                <h1 class="sub-header"> ОСТАВИТЬ ЗАЯВКУ</h1>
                <p class="text-p">Мы просчитаем именно Ваш вариант</p>
            </div>
            <form action="/umbraco/surface/Mail/SendMail">
                <div class="group">
                    <input name="Name" type="text" required="required" /><span class="highlight"></span><span class="bar"></span>
                    <label>Имя</label>
                </div>
                <div class="group">
                    <input name="Number" type="text" required="required" /><span class="highlight"></span><span class="bar"></span>
                    <label>Номер телефона</label>
                </div>
                <div class="select">
                    <select class="select-text" required>
                        <option value="" disabled selected></option>
                        <option value="Acura">Acura</option>
                        <option value="Audi">Audi</option>
                        <option value="BMW">BMW</option>
                        <option value="Chevrolet">Chevrolet</option>
                        <option value="DODGE">DODGE</option>
                        <option value="FORD">FORD</option>
                        <option value="Honda">Honda</option>
                        <option value="Hyundai">Hyundai</option>
                        <option value="INFINITI">INFINITI</option>
                        <option value="NISSAN">NISSAN</option>
                        <option value="Jeep">Jeep</option>
                        <option value="Subaru">Subaru</option>
                        <option value="Kia">Kia</option>
                        <option value="Lexus">Lexus</option>
                        <option value="Toyota">Toyota</option>
                        <option value="MINI COOPER">MINI COOPER</option>
                        <option value="Volkswagen">Volkswagen</option>
                    </select>
                    <span class="select-highlight"></span>
                    <span class="select-bar"></span>
                    <label class="select-label">Выберите марку</label>
                </div>
                <div class="form-inline-inputs">
                    <div class="select">
                        <select class="select-text selec-bar-half" required>
                            <option value="" disabled selected></option>
                            <option value="2009">2009</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                        </select>
                        <span class="select-highlight"></span>
                        <span class="select-bar selec-bar-half"></span>
                        <label class="select-label">Год выпуска</label>
                    </div>
                    <div class="select">
                        <select class="select-text selec-bar-half" required>
                            <option value="" disabled selected></option>
                            <option value="до 1000 км">до 1000 км</option>
                            <option value="до 10000 км">до 10000 км</option>
                            <option value="до 20000 км">до 20000 км</option>
                            <option value="до 30000 км">до 30000 км</option>
                            <option value="до 40000 км">до 40000 км</option>
                            <option value="до 50000 км">до 50000 км</option>
                            <option value="до 60000 км">до 60000 км</option>
                            <option value="до 70000 км">до 70000 км</option>
                            <option value="до 80000 км">до 80000 км</option>
                            <option value="до 90000 км">до 90000 км</option>
                            <option value="до 100000 км">до 100000 км</option>
                        </select>
                        <span class="select-highlight"></span>
                        <span class="select-bar selec-bar-half"></span>
                        <label class="select-label">Пробег</label>
                    </div>
                </div>

                <!-- end row -->
                <div class="btn btn-form">
                    <div class="wrap__btn-skew-r">
                        <button class="btn-skew-r btn-effect" type="submit"><span class="btn-skew-r__inner">Получить консультацию эксперта</span></button>
                    </div>
                </div>
                <!-- end row -->
            </form>
        </div>
    </div>

    <div>
        <img src="~/assets/chelby.png" class="image-block" />
    </div>
</div>
<style>
    .container-bg {
        background: url(/assets/media/main-slider/2.jpg) no-repeat fixed;
        background-size: cover;
    }

    .grid-container {
        height: 130vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.15fr 0.5fr 1fr;
        gap: 0px 0px;
        grid-template-areas: ". ."; 
    }

    @@media(max-width:1130px){
        .grid-container {
            height: 130vh;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.15fr 0.5fr 1fr;
            gap: 0px 0px;
            grid-template-areas: ".";
        }

        .image-block{
            display:none;
        }
    }

    .main-header {
        color: #fff;
        font-size: 56px;
        line-height: 65px;
        text-align: left;
    }

    .sub-header {
        font-size: 56px;
        color: #069;
    }

    .text-p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #FFF;
    }

    .form-container {
        max-width: 370px;
        margin: auto;
        margin-left: 0px;
        margin-top: 0px;
        background: rgba(25,33,46,.8);
        padding: 10px;
    }

    .btn-form {
        text-align: center;
        width: 100%;
    }

    .left-grid {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas: ". .";
    }

    .image-block {
        max-width: 100%;
        margin-top: -100px;
        margin-left: -80px;
    }






    .group {
        position: relative;
        margin: 13px 0;
    }

    textarea {
        resize: none;
    }

    input,
    textarea {
        background: none;
        color: #c6c6c6;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 320px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #c6c6c6;
    }

        input:focus,
        textarea:focus {
            outline: none;
        }

            input:focus ~ label, input:valid ~ label,
            textarea:focus ~ label,
            textarea:valid ~ label {
                top: -14px;
                font-size: 12px;
                color: #2196f3;
            }

            input:focus ~ .bar:before,
            textarea:focus ~ .bar:before {
                width: 320px;
            }

        input[type=password] {
            letter-spacing: 0.3em;
        }

    label {
        color: #c6c6c6;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 300ms ease all;
    }

    .bar {
        position: relative;
        display: block;
        width: 320px;
    }

        .bar:before {
            content: "";
            height: 2px;
            width: 0;
            bottom: 0px;
            position: absolute;
            background: #2196f3;
            transition: 300ms ease all;
            left: 0%;
        }

    .form-inline-inputs {
        display: flex;
    }

        .form-inline-inputs > div {
            width: 50%;
        }

    .input-50 {
        width: 50%;
    }




    .select {
        font-family: 'Roboto','Helvetica','Arial',sans-serif;
        position: relative;
        width: 350px;
        margin: 17px 0;
    }

    .select-text {
        position: relative;
        font-family: inherit;
        background-color: transparent;
        width: 350px;
        padding: 10px 10px 10px 0;
        font-size: 18px;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #c6c6c6;
    }

        /* Remove focus */
        .select-text:focus {
            outline: none;
            border-bottom: 1px solid rgba(0,0,0, 0);
        }

    /* Use custom arrow */
    .select .select-text {
        appearance: none;
        -webkit-appearance: none
    }

    .select:after {
        position: absolute;
        top: 18px;
        right: 10px;
        /* Styling the down arrow */
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #c6c6c6;
        pointer-events: none;
    }

    /* active state */
    .select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
        color: #2F80ED;
        top: -20px;
        transition: 0.2s ease all;
        font-size: 14px;
    }

    /* BOTTOM BARS ================================= */
    .select-bar {
        position: relative;
        display: block;
        width: 350px;
    }

        .select-bar:before, .select-bar:after {
            content: '';
            height: 2px;
            width: 0;
            bottom: 1px;
            position: absolute;
            background: #2F80ED;
            transition: 0.2s ease all;
        }

        .select-bar:before {
            left: 50%;
        }

        .select-bar:after {
            right: 50%;
        }

    /* active state */
    .select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
        width: 50%;
    }

    /* HIGHLIGHTER ================================== */
    .select-highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    .selec-bar-half {
        width: 166px;
    }
</style>