﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Podbor>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
    var content = Model;
    var uthome = Umbraco.ContentAtRoot().FirstOrDefault(x => x.IsDocumentType("home"));
    var home = new Home(uthome);
    var contact = new ContactUs(home.FirstChild(x => x.IsDocumentType("contactUs")));
}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="Description" content="Закажи авто из США и экономь до 50% стоимости!">
    <title>Купить автомобили из США.</title>
    <meta name="meta-title" content="Купить автомобили из США.">
    <link rel="icon" type="image/png" href="favicon.png">


    <style>
        /*        #loading_overlay { display: flex; position: fixed; top:0; left:0; z-index: 9999; height: 100vh; width: 100vw; background: #16171D; justify-content: center; align-items: center; }
                #loading_overlay:after { display: block; content: ""; width: 160px; height: 79px; background:url("/img/logo.png"); }*/
        .footer a {
            color: #e6e6e6;
        }

            .footer a:hover {
                color: #f2a31a;
            }
    </style>

    <link rel="stylesheet" href="~/assets/css/podbor.css">
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1360105894331991');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1360105894331991&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body data-spy="scroll" data-target="#navbar-main" data-offset="0" class="">
    <div id="loading_overlay"></div>
    <div class="global-wrapper">
        <header>
            <div class="container position-relative">
                <div class="header">
                    <div class="logo-link">
                        <a href="/"><img style="transform: scale(1.5);" src="@home.SmallLogo.Url()" alt=""></a>
                    </div>


                    <ul class="phone-menu m-0 p-0">
                        <li style="text-align: right;">
                            <style>
                                .number-link:hover {
                                    color: #777;
                                }
                            </style>
                            <a class="number-link" style="color: #1B4278; font-weight: 900; font-family: " href="tel:@contact.Telephone">@contact.Telephone</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main>

            <section class="request-section" id="select-car" style="@(content.BackgroundImage != null ? $"background: url({content.BackgroundImage.Url()})" : string.Empty)">
                <div class="container position-relative">
                    <div class="yel-img">
                      <img src="img/yel-shadow.png" alt="">
                    </div>
                    <div class="title-block">
                        <h3 style="color: #1B4278">@content.Header</h3>
                        <p style="color: #4fb0fd" class="m-0">@Html.Raw(content.Text)</p>
                    </div>
                    <div class="request-send-form-wrapper send-email-wrapper">
                        <form id="request">
                            <!-- END Hidden Required Fields -->
                            <div class="type-car-wrapper">
                                <div class="row">
                                    <div class="col-6 col-lg-4">
                                        <label>
                                            <input class="chekbox-request" type="checkbox" name="model_1" value="Седан">
                                            <div class="type-item">
                                                <div>
                                                    <img src="~/assets/sedan.png" alt="">
                                                </div>
                                                <p>Седан</p>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-6 col-lg-4">
                                        <label>
                                            <input class="chekbox-request" type="checkbox" name="model_2" value="Пикап">
                                            <div class="type-item">
                                                <div>
                                                    <img src="~/assets/pickup.png" alt="">
                                                </div>
                                                <p>Пикап</p>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-6 col-lg-4">
                                        <label>
                                            <input class="chekbox-request" type="checkbox" name="model_3" value="Кроссовер">
                                            <div class="type-item">
                                                <div>
                                                    <img src="~/assets/outroad.png" alt="">
                                                </div>
                                                <p>Кроссовер</p>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-6 col-lg-4">
                                        <label>
                                            <input class="chekbox-request" type="checkbox" name="model_4" value="Купе">
                                            <div class="type-item">
                                                <div>
                                                    <img src="~/assets/coupe.png" alt="">
                                                </div>
                                                <p>Купе</p>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-6 col-lg-4">
                                        <label>
                                            <input class="chekbox-request" type="checkbox" name="model_5" value="Джип">
                                            <div class="type-item">
                                                <div>
                                                    <img src="~/assets/cabriolet.png" alt="">
                                                </div>
                                                <p>Джип</p>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-6 col-lg-4">
                                        <label>
                                            <input class="chekbox-request" type="checkbox" name="model_6" value="Электромобиль">
                                            <div class="type-item">
                                                <div>
                                                    <img src="~/assets/minivan.png" alt="">
                                                </div>
                                                <p>Электромобиль</p>
                                            </div>
                                        </label>
                                    </div>

                                </div>
                                <div class="send-block calculator-holder">
                                    <div class="year-holder holders">
                                        <label>
                                            Год: <span>(2010 - 2021)</span>
                                        </label>
                                        <div class="slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" id="slider-year">

                                        </div>
                                        <input id="in-year" name="year" type="text" hidden="" value="2012-2015">
                                    </div>
                                    <div class="cost-holder holders">
                                        <label>
                                            Бюджет: <span>(7000$ - 30000$+)</span>
                                        </label>
                                        <div class="slider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" id="slider-budget">

                                        </div>
                                        <input id="in-budget" name="budget" type="text" hidden="" value="8000-15000">
                                    </div>
                                    <!-- <div class="tel-input-holder holders">

                                    </div> -->
                                    <div class="tel-input-holder holders">
                                        <input type="text" id="name-request" name="name" placeholder="Ваше имя" required="" style="margin-bottom: 10px;border-bottom: 1px solid #fff;padding-bottom: 10px;">
                                        <input type="tel" name="phone" id="tel-request" placeholder="+38 (___) ___-__-__" autocomplete="off" required="">
                                    </div>
                                    <div style=" text-align: center;">
                                        <button class="custom-button" type="submit"><span class="btn-skew-r__inner custom-button-text">Отправить заявку</span></button>
                                    </div>
                                    <p class="form-message-error m-0 p-3">Укажите, пожалуйста, номер телефона</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

        </main>

    </div>
    <script src="~/assets/js/podbor/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/podbor/jquery-ui.min.js"></script>
    <script src="~/assets/js/podbor/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/podbor/bootstrap.min.js"></script>
    <script src="~/assets/js/podbor/swiper.min.js"></script>
    <script src="~/assets/js/podbor/jquery.mask.min.js"></script>
    <script src="~/assets/js/podbor/inview.min.js"></script>


    <script src="~/assets/js/podbor/custom.js?v.0.93"></script>
    <style>
        .custom-button {
            background-color: #4fb0fd;
            margin-left: -20px;
            padding: 15px 29px 14px;
            font-size: 12px;
            font-weight: 700;
            color: #fff;
            border: none;
            box-shadow: 5px 0 0 0 #555;
            transform: skewX( 18deg );
            text-transform: uppercase;
        }
        .custom-button-text {
            display: block;
            transform: skewX( -18deg );
        }
    </style>

</body>
</html>
