﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ThankPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
    var logo = Model.Logo;
    var backgroundImg = Model.BackgroundImg;
    var mainColor = Model.MainTextColor;
    var textColor = Model.TextColor;
    var topText = Model.Text;
    var mainText = Model.MainText;
    var bottomText = Model.BottomText;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="~/assets/css/thankPage.css" rel="stylesheet" />
    <link href="~/assets/fonts/Gilroy/stylesheet.css" rel="stylesheet" />

    <title>TrustShipping - Спасибо за обращение!</title>

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1360105894331991');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1360105894331991&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->

</head>
<body>
    <div class="thx">
        <div style="border: 16px solid #@mainColor; border-radius: 16px;" class="center-block">
            <img src="@(logo != null ? logo.Url() : string.Empty)" alt="">
            <h2 style="color: #@mainColor">@mainText</h2>
            <h3 style="color: #@textColor">@topText</h3>
            <p>
                <a href="/">
                    <button style="background-color: @mainColor">Перейти на главную</button>
                </a>
            </p>
            <h3 style="color: #@textColor">@bottomText</h3>
            <div class="messangers__socials social-block">
                <a target="_blank" href="https://t.me/joinchat/AAAAAFahPJYywa0vcZLZQA" class="socials-button socials-button_telegram button-blick">
                    Telegram
                    <img loading="lazy" src="~/assets/media/messangers/008-telegram.svg" alt="" data-pagespeed-url-hash="3690703166" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </a>
                <a target="_blank" href="https://invite.viber.com/?g2=AQB87%2BIp80gRrkyMv0kvFDRfaPlOz4Y0XOxUEv0yor4YfMEYbqmzjj4c3LNveraq" class="socials-button socials-button_viber button-blick">
                    Viber
                    <img loading="lazy" src="~/assets/media/messangers/009-viber.svg" alt="" data-pagespeed-url-hash="280934464" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </a>
            </div>
        </div>
    </div>

</body>
</html>