﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="I8lm6EIIOKPx1OYSVAjISEjYDvmK1JFBPleaUAtAS0Y" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta property="og:title" content="Auto from USA" />
    <meta property="og:site_name" content="Trust Shipping /">
    <meta property="og:url" content="https://trustshipping.com.ua/" />
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://trustshipping.com.ua/media/sd4jpqoo/%D0%BB%D0%BE%D0%B3%D0%BE2.png" />
    <title>Trust Shipping</title>
    <link href="favicon.ico" rel="icon">
    <link href="~/assets/css/master.css" rel="stylesheet">
    <link href="~/assets/plugins/iview/css/iview.css" rel="stylesheet">
    <link href="~/assets/plugins/iview/css/skin/style.css" rel="stylesheet">

    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="~/assets/fonts/Gilroy/stylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/stages_style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/button.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/reviews.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/advantages.css">
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1360105894331991');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1360105894331991&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>


<body>
    @RenderBody()
    <!-- SCRIPTS -->
    <script src="assets/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="~/assets/js/jquery-migrate-1.2.1.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/modernizr.custom.js"></script>
    <script src="~/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="~/assets/plugins/jelect/jquery.jelect.js"></script>
    <script src="~/assets/plugins/nouislider/jquery.nouislider.all.min.js"></script>
    <script src="~/assets/plugins/flexslider/jquery.flexslider.js"></script>
    <script src="~/assets/js/form.js"></script>

    <!--THEME-->
    <script src="~/assets/js/cssua.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/custom.js"></script>

    <script src="~/assets/plugins/sliderpro/js/jquery.sliderPro.min.js"></script>

    <script src="~/assets/js/podbor/jquery-ui.min.js"></script>
    <script src="~/assets/js/podbor/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/plugins/slick/slick.min.js"></script>

    <script src="~/assets/js/advantagesAndSlider.js"></script>
    <script src="~/assets/js/homePageCarousel.js"></script>
    <script src="~/assets/js/carCarousel.js"></script>
    <script src="~/assets/js/contactUs.js"></script>



</body>
</html>